{%  extends 'portal/base.html' %}
{% load staticfiles %}

{% block user_styles %}
    <link href="{%  static 'portal/css/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'portal/css/jquery.comiseo.daterangepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{%  block content %}

    <section id="ad_search" class="container">
        <div class="center">
            <h2>VPN Logs</h2>
            <p class="lead">Search in ACS Logs</p>
        </div>


        <div class="row">

            <nav class="">
                <div class="nav nav-justified navbar-nav">

                    <form method="GET" class="navbar-form navbar-search get-form" role="search">
                        <div class="input-group">

                            <div class="input-group-btn">
                                <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown" name="type_search" value="login">
                                    <span class="label-icon"><span class="glyphicon glyphicon-user"></span> Search By Login</span>
                                    <span class="caret"></span>
                                </button>
                                <input type="hidden" class="type_search" value="login" name="type_search">
                                <ul class="dropdown-menu pull-left" role="menu">
                                    <li value="full_name">
                                        <a href="#">
                                            <i class="fa fa-address-card"></i>
                                            <span class="label-icon">Search By Full name</span>
                                        </a>
                                    </li>
                                    <li value="last_logon">
                                        <a href="#">
                                            <i class="fa fa-desktop"></i>
                                            <span class="label-icon">Search By Last logon</span>
                                        </a>
                                    </li>
                                    <li value="login">
                                        <a href="#">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span class="label-icon">Search By Login</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <input type="text" class="form-control" placeholder="Search" name="input_search">
                            <div class="input-group-btn">
                                <input id="e2" name="xrange">
                            </div>
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-search btn-default">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </nav>
        </div>


        <h2>{{ rowName }}</h2>
        Total entity: {{ len }}
        <table class="table table-striped">
            <thead>
                <tr>
                    {% for itercol in colName %}
                    <th>{{ itercol }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for coldata in data %}
                    <tr>
                    {% for key, value in coldata.items %}
                        <td>{{ value }}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}

            </tbody>
        </table>


    </section>
{% endblock %}

{% block user_scripts %}
    <script src="{% static 'portal/js/search_ad.js' %}"></script>
    <script src="{% static 'portal/js/jquery-ui.js' %}"></script>
    <script src="{% static 'portal/js/moment-with-locales.js' %}"></script>
    <script src="{% static 'portal/js/jquery.comiseo.daterangepicker.js' %}"></script>
    <script>
        $(function() {
            $("#e2").daterangepicker({
                datepickerOptions : {
                    numberOfMonths : 2
                }});
        });
    </script>
{% endblock %}