{%  extends 'portal/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{%  block content %}

    <section id="ad_search" class="container">
        <div class="center">
            <h2>AD Modify</h2>
            <p class="lead">Modify Data in Active Directory</p>
        </div>


        <div class="row">

            <nav class="">
                <div class="nav nav-justified navbar-nav">

                    <form method="POST" class="navbar-form navbar-search get-form" role="search">
                        <div class="input-group">
                            {% csrf_token %}
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown" name="type_search" value="full_name">
                                    <span class="label-icon"><i class="fa fa-address-card"></i> Modify Full name</span>
                                    <span class="caret"></span>
                                </button>
                                <input type="hidden" class="type_search" value="full_name" name="type_search">
                                <ul class="dropdown-menu pull-left" role="menu">
                                    <li value="full_name">
                                        <a href="#">
                                            <i class="fa fa-address-card"></i>
                                            <span class="label-icon">Modify Full name</span>
                                        </a>
                                    </li>
                                    <li value="email">
                                        <a href="#">
                                            <i class="fa fa-envelope"></i>
                                            <span class="label-icon">Modify Email</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <input type="text" class="form-control" placeholder="Search" name="input_search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-search btn-default">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </nav>
        </div>


        <h2>{{ row_name }}</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    {% if col_name %}
                        <th>status</th>
                    {% endif %}
                    {% for itercol in col_name %}
                    <th>{{ itercol }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% if data_old %}
                        <td>old</td>
                    {% endif %}
                    {% for key, value in data_old.items %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% if data_new %}
                        <td>new</td>
                    {% endif %}
                    {% for key, value in data_new.items %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>


    </section>
{% endblock %}

{% block user_scripts %}
    <script src="{% static 'portal/js/modify_ad.js' %}"></script>
{% endblock %}